trigger:
  tags:
    include:
      - v*
  branches:
    include:
      - develop
      - release*
  paths:
    exclude:
      - README.md

pr: none

variables:
  group: 'pipelines'

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.5'
        addToPath: true
        architecture: 'x64'
    - script: |
        bash ./build.sh 'python3'
      displayName: 'Building 3.x'
    - script: |
        bash ./test.sh 'python3'
      displayName: 'Testing 3.x'
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '2.7'
        addToPath: true
        architecture: 'x64'
    - script: |
        bash ./build.sh 'python2'
      displayName: 'Building 2.7'
    - script: |
        bash ./test.sh 'python2'
      displayName: 'Testing 2.7'
    - task: CopyFiles@2
      inputs:
        SourceFolder: $(System.DefaultWorkingDirectory)
        TargetFolder: $(Build.ArtifactStagingDirectory)
        Contents: |
          setup.py
          requirements.txt
          iofog_python_sdk/**/*
        OverWrite: true
      displayName: 'Publish artifacts'
